@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie głównej, zaloguj się lub załóż konto, aby mieć możliwość korzystania z apliakcji.</h1>
    <a asp-area="" asp-controller="Item" asp-action="Index">Lista przedmiotów</a>
</div>
